:root {
    --default-background-color: #494D5F;
    --font-color: #FFFFFF;
    --cadet-color: #8AA2A9;
    --accent-color: #FF101F;
    --main-color: #F6C0D0;
    --secondary-color: #F7BFB4;
}

/* 

 - profiles / Steckbriefe
 - timeline / Zeitleiste

*/

.container-playground {
    display: none;
    width: 100%;
    height: 100%;
    overflow: scroll;
    position: absolute;
    background-color: var(--default-background-color);
}

.activity-swapper {
    position: absolute;
    left: 0;
    top: 0;
    width: 32rem;
    height: 4rem;
    background-color: var(--main-color);
    border-radius: 0px 0px 1rem 0px;
    border: 2px solid var(--secondary-color);
}

.glyphs-playground {
    font-size: 3rem !important;
    line-height: 3.5rem;
}

.regular-font {
    font-family: Aamiya-regular;
    font-weight: bold;
    letter-spacing: 0.1rem;
    text-align: center;
}

.centerX {
    display: grid;
    place-items: center;
}

.project-name {
    position: absolute;
    left: 0;
    top: 4rem;
    width: 18rem;
    height: 3.5rem;
}

.form-control {
    background-color: var(--secondary-color) !important;
    border: none;
    border-radius: 0 0 1rem 0;
    font-family: Aamiya-regular;
    font-weight: bold;
    letter-spacing: 0.1rem;
}

.form-control input:invalid {
    border: 2px solid var(--accent-color) !important;
}

::selection {
    background: var(--accent-color);
    color: var(--font-color);
    padding: 1rem;
}

.activityicon {
    display: inline-block;
    line-height: 2rem;
    padding-left: 3rem;
    background: var(--iconpath) no-repeat scroll 1rem 0.75rem transparent !important;
}